@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  padding: 0 1.5em;
}

header {
  padding: 0 2em;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 90px auto;
  grid-template-areas: "header header" "content content";
  place-content: center;
}

.logo {
  background: transparent;
  border-bottom: 2px solid #0000ee;
}

.logo span {
  font-family: "Great Vibes", cursive;
  font-weight: bolder;
  font-size: 2.5rem;
  color: #0000ee;
}

.logo .s-letter {
  color: #c48e0a;
  margin-left: -15px;
}
nav {
  height: 100%;
  display: flex;
}
nav .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-items li {
  margin-right: 2.5em;
}

nav .nav-items a {
  color: #363533;
  font-weight: 500;
}

.nav-items li:hover a {
  color: #d5d84d;
  border-bottom: 2px solid #d5d84d;
  padding-bottom: 5px;
}

.hero {
  padding: 4.5em 2em;
  grid-area: content;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #c36f00, #d8dd6d, #eef0bf);
}

.hero-content {
  padding: 7em 0 0 1em;
  flex-basis: 60%;
}

.hero-content .title {
  font-size: 2.5em;
  margin-bottom: 0.1em;
}

.hero-content .tagline {
  color: #33313bb7;
  font-weight: 550;
  margin-bottom: 2.7em;
}

.hero-content .description {
  width: 100%;
  margin-bottom: 3em;
}

.description p {
  width: 70%;
  color: #202020;
  font-size: 0.8rem;
  line-height: 1.9em;
}

.hero button {
  padding: 0.4em 1.7em;
  font-size: 0.95rem;
  border: none;
  border-radius: 5px;
  color: #eeeeee;
  font-weight: 600;
}
.hero .cta-btn {
  background-color: #0d4be7;
  margin-right: 1.5em;
}

.hero .tour-btn {
  background: transparent;
  border: 1px solid #0d4be7;
  color: #111111;
}

.hero .cta-btn:hover,
.tour-btn:hover {
  background-color: #6d80e4;
}

.hero-img {
  flex-basis: 35%;
}
